.primary-button {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  border-radius: 46px;
  background: #fff;
  padding: 10px 33px;
  border: none;
  &:focus {
    outline: 0;
    border: none;
  }
  &:hover {
    background: #ddded6;
  }
  @media (max-width: 576px) {
    padding: 12px 33px;
    font-size: 20px;
  }
}
