.modal {
  display: flex !important;
  align-items: center !important;
  .modal-dialog {
    .modal-content {
      .modal-header {
        border: none !important;
        .close {
          z-index: 999;
        }
      }
      .modal-body {
        @media (max-width: 576px) {
          margin-top: -2rem;
        }
      }
    }
  }
}
